{% extends 'page.html.twig' %}

{% block main %}
    <div class="col-12 why-vote-wrapper row">
        <div class="why-vote-wrapper__header d-flex align-items-center flex-column">
            <h1 class="why-vote-wrapper__header-title text-center">Pourquoi Voter ?</h1>
            <p class="why-vote-wrapper__header-main-explanation text-center col-12 col-lg-8">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Feugiat maecenas
                nisl velit vitae maecenas magna a. Elit convallis felis eu pellentesque lectus suspendisse libero.</p>

            <div class="why-vote-wrapper__header-illustration col-9 col-md-5">
                <img src="/images/illustrations/put-vote-to-ballot-box.svg" class="img-fluid" alt="Choisir la roue">
            </div>
        </div>


        <div id="slider" class="slider mx-auto">
            <div class="slider-wrapper">
                <div id="slider-wrapper__slides" class="slider-wrapper__slides why-vote-wrapper__list row gx-0 gx-md-5">
                    <section class="slider-wrapper__slides-item why-vote-wrapper__list-item flex-column col-12 col-md-6 col-lg-4">
                        <span class="icon icon-lvdv-heart"></span>
                        <h2 class="why-vote-wrapper__list-item-title">Voter est un <strong
                                    class="red-word">Droit</strong></h2>
                        <p class="why-vote-wrapper__list-item-content">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit.
                            Feugiat maecenas nisl velit vitae maecenas
                            magna a. Elit convallis felis eu pellentesque lectus suspendisse libero.</p>
                    </section>
                    <section class="slider-wrapper__slides-item why-vote-wrapper__list-item flex-column col-12 col-md-6 col-lg-4">
                        <span class="icon icon-lvdv-heart"></span>
                        <h2 class="why-vote-wrapper__list-item-title">Vive la <strong
                                    class="red-word">FRANCE</strong></h2>
                        <p class="why-vote-wrapper__list-item-content">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit.
                            Feugiat maecenas nisl velit vitae maecenas
                            magna a. Elit convallis felis eu pellentesque lectus suspendisse libero.
                            Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit.
                            Feugiat maecenas nisl velit vitae maecenas
                            magna a. Elit convallis felis eu pellentesque lectus suspendisse libero.</p>
                    </section>
                    <section class="slider-wrapper__slides-item why-vote-wrapper__list-item flex-column col-12 col-md-6 col-lg-4">
                        <span class="icon icon-lvdv-heart"></span>
                        <h2 class="why-vote-wrapper__list-item-title">Ave <strong
                                    class="red-word">La Voix du vote</strong></h2>
                        <p class="why-vote-wrapper__list-item-content">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit.
                            Feugiat maecenas nisl velit vitae maecenas
                            magna a. Elit convallis felis eu pellentesque lectus suspendisse libero.</p>
                    </section>
                </div>
            </div>
            <div id="slider-dots" class="slider-dots row justify-content-center d-flex d-md-none">
            </div>
        </div>
        <div class="dl-program-cta">
            <div class="row">
                <button class="btn btn-primary btn-ripple-primary w-auto mx-auto">Consulter les programmes</button>
            </div>
        </div>
    </div>
{% endblock %}

{# Add JS for slider #}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('slider-why-vote') }}
{% endblock %}