{% extends 'page.html.twig' %}

{% block title %}
	La Voix du Vote - Nous écrire
{% endblock %}

{% block main %}
	<div class="contact">
		<p class="contact__text d-flex justify-content-center flex-column flex-sm-row">
			<span class="contact__text-flex">Une question&nbsp;?</span><span class="contact__text-flex">Une correction&nbsp;?</span><span class="contact__text-flex"> Une information&nbsp;?</span></p>
		<p class="contact__mail">Écrivez-nous à <a href="mailto:lavoixduvote@pm.me">lavoixduvote@pm.me</a>&nbsp;!</p>
	</div>
{% endblock %}
