{% extends 'page.html.twig' %}

{% block title %}
	La Voix du Vote - Nous écrire
{% endblock %}

{% block main %}
	{% set array = [] %}
	<div class="contact">
		<img src="{{ asset('images/logos/contact.svg') }}" alt="Contactez-nous">
		<h1>Vous avez une demande<br /> concernant, <span class="contact__dynamic-word">une correction ?</span></h1>
		<div class="contact__text">
			<div>On est disponibles sur <a href="https://www.instagram.com/lavoixduvote/" target="_blank">Instagram</a>, <a href="https://www.linkedin.com/company/la-voix-du-vote" target="_blank">LinkedIn</a> et <a href="#">Facebook</a></div>
			<div>ou directement sur <a href="mailto:lavoixduvote@protonmail.com">lavoixduvote@protonmail.com</a></div>
		</div>
		<a href="mailto:lavoixduvote@protonmail.com" class="btn btn-primary btn-ripple-primary contact__cta">Contactez-nous !</a>
	</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('dynamic_contact_word') }}
{% endblock %}
