{% extends 'page.html.twig' %}

{% block title %}
	La Voix du Vote - Nous écrire
{% endblock %}

{% block main %}
	<p>Une question ? Une correction ? Une information ?</p>
	<p>Écrivez-nous à <a href="mailto:lavoixduvote@pm.me">lavoixduvote@pm.me</a></p>
{% endblock %}
