{% extends 'page.html.twig' %}

{% block title %}
	La Voix du Vote - Politique de confidentialité
{% endblock %}

{% block main %}
	<div class="privacy-policy">
		<h1 class="privacy-policy__title">Politique de confidentialité</h1>

		<article class="privacy-policy__category">
			<h2 class="privacy-policy__category-title">
				Informations générales
			</h2>
			<div class="privacy-policy__category-content">
				<p>La plateforme web lavoixduvote.fr est a été créée par l'association La Voix du Vote qui en est propriétaire.
				</p>
				<p>
					Le site est hébergé par l'association La Voix du Vote, dont le siège social est situé : 3 rue Théodore Botrel 35230 SAINT-ERBLON.
				</p>
				<p>
					Nous contacter :
					<a href="mailto:lavoixduvote@protonmail.com">lavoixduvote@protonmail.com</a>
				</p>
			</div>
		</article>

		<article class="privacy-policy__category">
			<h2 class="privacy-policy__category-title">
				Propriété intellectuelle
			</h2>
			<div class="privacy-policy__category-content">
				<p>
					L'intégralité du contenu de la plateforme est, sauf mention contraire, la propriété de la plateforme.
				</p>
				<p>
					Sauf autorisation préalable et écrite, toute reproduction, représentation, adaptation, modification partielle ou intégrale de tout élément composant le site, par quelque moyen que ce soit, est interdite sous peine de poursuites.
				</p>
			</div>
		</article>

		<article class="privacy-policy__category">
			<h2 class="privacy-policy__category-title">
				Collecte d'informations
			</h2>
			<div class="privacy-policy__category-content">
				<p>
					Ce site utilise des cookies. Ce sont des fichiers permettant d'identifier un visiteur pour la durée de leur visite sur ce site. Les cookies sont stockés sur le disque dur de votre ordinateur et n’y causent aucun dommage.
				</p>
				<p>
					Ils nous permettent d’améliorer l'expérience utilisateur du site, de mesurer l’audience et d’adapter les contenus à vos besoins. Les cookies servent également à vérifier si votre ordinateur a déjà été connecté à nos pages. Ceux-ci ne contiennent aucune information permettant votre identification personnelle et sont utilisés uniquement par le propriétaire du site. Ils sont conservés au maximum pour une durée de 2 ans.
				</p>
				<p>

					À tout moment, vous pouvez accéder à l’historique, à la suppression et à leur désactivation dans les paramètres de votre navigateur (Chrome, Edge, Safari, Firefox…). L’utilisateur est informé que conformément à l’article 32 de la loi Informatique et libertés du 6 janvier 1978.
				</p>
				<p>

					Mis à part les cookies nous ne recueillons aucune information lorsque vous visitez notre site. Cependant sachez que nous recevons et enregistrons automatiquement des informations à partir de votre ordinateur et navigateur, y compris votre adresse IP, vos logiciels et votre matériel et la page que vous demandez.
				</p>
			</div>
		</article>

		<article class="privacy-policy__category">
			<h2 class="privacy-policy__category-title">
				Limitation de responsabilité
			</h2>
			<div class="privacy-policy__category-content">
				<p>
					Les contenus présentés sur le site ne sont pas contractuels. En conséquence, la responsabilité du propriétaire du site ne saurait être engagée en cas d’erreur dans l'un des contenus présents sur le site. Les éventuels liens figurant dans le site et renvoyant vers des sites externes sont fournis à titre informatif. Le propriétaire du site ne saurait être tenu pour responsable du contenu de ces sites externes référencés.
				</p>
			</div>
		</article>


		<article class="privacy-policy__category">
			<h2 class="privacy-policy__category-title">
				Consentement
			</h2>
			<div class="privacy-policy__category-content">
				<p>En utilisant notre site, vous consentez à notre politique de confidentialité.</p>
			</div>
		</article>
	</div>
{% endblock %}
