<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}La Voix du Vote{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    {# wtf tarteaucitron - https://stackoverflow.com/questions/66455125/tarteaucitronjs-not-found-using-symfony-and-webpack #}
    <script>tarteaucitronForceLanguage = 'fr';</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tarteaucitronjs/1.9.3/tarteaucitron.min.js" integrity="sha512-r/kjLI/1jNJCXAUuhhnzD7sFvFX9Vkq3yL2+5Fcs/hQzEzwA2JdiOFLbpQ01m73U4zfG/9lNN/K/MLq5niG8GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tarteaucitronjs/1.9.3/lang/tarteaucitron.fr.min.js" integrity="sha512-vjNsKriK1pBT20r7VSEZ4U1x+UjXc123bOcH6vn5i84bwjfTbflr8STFK1fzxSYsKF1GGoEOIs5d9ow8Lueihg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {{ encore_entry_script_tags('tac') }}
</html>
