{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <div class="w-100 header-wrapper">
            <div class="container-fluid">

                {% block header %}
                    {% block menudesktop %}
                        <div class="d-none d-md-block">
                            MENU DESKTOP
                        </div>
                    {% endblock %}

                {% endblock %}
                {% block menuresponsive %}
                    <div class="d-block d-md-none">
                        <div class="d-flex justify-content-between align-items-center">
                            <input id="responsive-menu-checkbox" type="checkbox" class="responsive-menu-checkbox">
                            <div class="back-wrapper">
                                <img src="/images/pictos/back.svg" alt="Page précédente">
                            </div>
                            <div class="logo-wrapper">
                                <img src="/images/logos/Logo_45x45.svg" alt="Logo La Voix du Vote">
                            </div>
                            {% if route_prefix == 'home' %}
                                <div class="grid-or-roll-wrapper d-flex">
                                    <img src="/images/icons/icon-roll.svg" alt="Choisir la roue">
                                    <img src="/images/icons/icon-grid.svg" alt="Choisir la grille">
                                </div>
                            {% endif %}
                            <div class="responsive-menu-wrapper">
                                <label for="responsive-menu-checkbox" class="responsive-menu-wrapper__icon">
                                    <img src="/images/icons/icon-menu.svg" alt="Afficher le menu">
                                </label>
                                <div class="responsive-menu-wrapper__background"></div>
                                <nav class="responsive-menu-wrapper__menu">
                                   {{ include('navigation/menu.html.twig') }}
                                    <div class="responsive-menu-wrapper__menu-supportus text-center">
                                        <div class="d-flex justify-content-center responsive-menu-wrapper__menu-supportus-socialmedia">
                                            <span class="icon-facebook-white"></span>
                                            <span class="icon-instagram-white"></span>
                                            <span class="icon-linkedin-white"></span>
                                            <span class="icon-twitter-white"></span>
                                        </div>
                                        Vous souhaitez nous soutenir ?<br />
                                        <a href="">Payez-nous un café :)</a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            {% block main %}
                MAIN
            {% endblock %}
        </div>
    </main>
    <div class="w-100 supportus-wrapper">
        <div class="container">
            {% block supportus %}
                SUPPORT US
            {% endblock %}
        </div>
    </div>
    <div class="w-100 footer-wrapper">
        <footer>
            {% block footer %}
                <div class="container">
                    <div class="footer-wrapper__main d-flex flex-column flex-lg-row">
                        <aside class="footer-wrapper__main-social-network d-flex flex-row flex-lg-column justify-content-around align-items-lg-end col-12 col-lg-3 me-auto">
                            <img class="col-4" src="/images/logos/logo-text-lvdv-white.svg" alt="Logo La Voix Du Vote">
                            <div class="footer-wrapper__main-social-network-icons d-flex flex-row col-4 col-lg-12 flex-wrap justify-content-between">
                                <span class="icon-facebook-white col-6 col-lg-3"></span>
                                <span class="icon-instagram-white col-6 col-lg-3"></span>
                                <span class="icon-linkedin-white col-6 col-lg-3"></span>
                                <span class="icon-twitter-white col-6 col-lg-3"></span>
                            </div>
                        </aside>
                        <section class="footer-wrapper__main-programmes col-6">
                            <strong>Les programmes</strong>
                            <ul class="footer-wrapper__main-programmes-list d-flex flex-wrap">
                                {{ render(url('candidates_list_name')) }}
                            </ul>
                        </section>
                        <aside class="footer-wrapper__main-menu text-lg-left text-center col-12 col-lg-2">
                            <ul>
                                <li><a href="#">Pourquoi voter ?</a></li>
                                <li><a href="#">Glossaire</a></li>
                                <li><a href="#">Nous contacter</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="footer-wrapper__legal-notice text-center">
                        <em>Politique de confidentialité - @LaVoixDuVote</em>
                    </div>
                </div>
            {% endblock footer %}

        </footer>
    </div>

{% endblock %}