.candidates-grid-wrapper {
  display: flex;
  width: 100%;
  padding: 0 0 120px;
  transition: all 1s ease;

  &__item {
    text-decoration: none;

    .card {
      background-position: center;
      background-size: cover;
      border-radius: 15px;
      border: 0;
      height: 260px;
    }

    .card-title {
      font-size: $font-normal;
      font-weight: $bold;
    }

    .card-subtitle {
      font-size: $font-small;
    }
  }
}




