.grid-or-roll-wrapper, .switcher-home-wrapper {
    max-width: 85px;
    background-color: #F1F1F1;
    border-radius: 25px;
	img:not(.on) {
        opacity: 20%;
	}
}
// Desktop switcher
.switcher-home-wrapper {
    padding: 10px;
}
