.icon {
    width: 25px;
    height: 25px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[class^="icon-"] {
    @extend .icon;
}

// Social networks icons
$social-network-list: "facebook", "instagram", "linkedin";
@each $social-network-item in $social-network-list {
    // White 
    .icon-#{$social-network-item}-white {
        background-image: url(#{$icon-path} + 'social_networks/white/#{$social-network-item}-logo.svg');
    }
    // Primary
    .icon-#{$social-network-item}-primary {
        background-image: url(#{$icon-path} + 'social_networks/primary/#{$social-network-item}-logo.svg');
    }
}

// Custom icons
$icon-name-list: "shield", "coffee", "economy", "education", "environment", "world", "research", "social-protection", "innovation", "immigration", "heart", "cutlery", "employment", "europe", "justice", "society", "cross", "check"; 
@each $icon-name-item in $icon-name-list {
    // White 
    .icon-lvdv-#{$icon-name-item}-white {
        background-image: url(#{$icon-path} + 'lvdv_lib/white/' + #{$icon-name-item} + '.svg');
    }
    // Colorful
    .icon-lvdv-#{$icon-name-item} {
        background-image: url(#{$icon-path} + 'lvdv_lib/colorful/' + #{$icon-name-item} + '.svg');
    }
}