.icon {
    width: 25px;
    height: 25px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

[class^='icon-'] {
    @extend .icon;
}

// Social networks icons

.icon-facebook-white {
    background-image: url(#{$icon-path} + 'social_networks/white/facebook-logo.svg');
}

.icon-instagram-white {
    background-image: url(#{$icon-path} + 'social_networks/white/instagram-logo.svg');
}

.icon-linkedin-white {
    background-image: url(#{$icon-path} + 'social_networks/white/linkedin-logo.svg');
}

.icon-twitter-white {
    background-image: url(#{$icon-path} + 'social_networks/white/twitter-logo.svg');
}

.icon-facebook-primary {
    background-image: url(#{$icon-path} + 'social_networks/primary/facebook-logo.svg');
}

.icon-instagram-primary {
    background-image: url(#{$icon-path} + 'social_networks/primary/instagram-logo.svg');
}

.icon-linkedin-primary {
    background-image: url(#{$icon-path} + 'social_networks/primary/linkedin-logo.svg');
}

.icon-twitter-primary {
    background-image: url(#{$icon-path} + 'social_networks/primary/twitter-logo.svg');
}

// White custom icons

.icon-lvdv-shield-white {
    background-image: url(#{$icon-path} + 'lvdv_lib/white/shield.svg');
}

.icon-lvdv-coffee-white {
    background-image: url(#{$icon-path} + 'lvdv_lib/white/coffee.svg');
}

.icon-lvdv-economy-white {
    background-image: url(#{$icon-path} + 'lvdv_lib/white/economy.svg');
}

.icon-lvdv-education-white {
    background-image: url(#{$icon-path} + 'lvdv_lib/white/education.svg');
}

.icon-lvdv-environment-white {
    background-image: url(#{$icon-path} + 'lvdv_lib/white/environment.svg');
}

.icon-lvdv-world-white {
    background-image: url(#{$icon-path} + 'lvdv_lib/white/world.svg');
}

.icon-lvdv-social-protection-white {
    background-image: url(#{$icon-path} + 'lvdv_lib/white/social_protection.svg');
}

.icon-lvdv-world-research-white {
    background-image: url(#{$icon-path} + 'lvdv_lib/white/research.svg');
}

.icon-lvdv-innovations-white {
    background-image: url(#{$icon-path} + 'lvdv_lib/white/innovations.svg');
}

.icon-lvdv-immigrations-white {
    background-image: url(#{$icon-path} + 'lvdv_lib/white/immigrations.svg');
}

.icon-lvdv-heart-white {
    background-image: url(#{$icon-path} + 'lvdv_lib/white/heart.svg');
}

.icon-lvdv-cutlery-white {
    background-image: url(#{$icon-path} + 'lvdv_lib/white/cutlery.svg');
}

.icon-lvdv-culture-white {
    background-image: url(#{$icon-path} + 'lvdv_lib/white/culture.svg');
}

.icon-lvdv-employment-white {
    background-image: url(#{$icon-path} + 'lvdv_lib/white/employment.svg');
}