// Basic styling for links
@mixin link($color, $hover-color) {
    text-decoration: none;
    color: $color;
    transition: all 0.5s ease;
    &:hover,
    &:focus,
    &:active {
        color: $hover-color;
    }
}

// Animate an absolute border on hover / active / focus
@mixin border-bottom-animation($border-color) {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        border-bottom: 2px solid transparent;
        width: 0;
        bottom: -4px;
        left: 0;
        transition: all 0.5s ease;
    }

    &:hover,
    &:focus,
    &:active {
        &::after {
            border-bottom: 2px solid $border-color;
            width: 100%;
        }
    }
}

// Zooming effect on hover
@mixin zoom-effect() {
    transition: all 0.35s ease;
    &:hover,
    &:active,
    &:focus {
        box-shadow: -1px 5px 12px -6px rgba(0, 0, 0, 0.45);
        transform: scale(1.008);
    }
}

// Filter svg to primary color
@mixin filter-primary() {
    filter: brightness(0) saturate(100%) invert(8%) sepia(82%) saturate(5301%)
        hue-rotate(249deg) brightness(97%) contrast(131%);
}
@mixin filter-grey() {
    filter: brightness(0) saturate(100%) invert(15%) sepia(7%) saturate(424%)
        hue-rotate(187deg) brightness(99%) contrast(87%);
}

// Ripple effect
@mixin btn-ripple($mid, $end) {
    background-position: center;
    transition: background 0.8s;

    &:hover {
        background: $end radial-gradient(circle, transparent 1%, $end 1%)
            center/15000%;
    }

    &:active {
        background-color: $mid;
        background-size: 100%;
        transition: background 0s;
    }
}

@mixin arrow-link() {
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 20px;
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    // For dealing with alt, hover and focus
    z-index: 800;

    &::after {
        content: url($icon-path + "../arrow.svg");
        position: absolute;
        left: -20px;
        bottom: -10px;
        width: calc(100% + 20px);
        overflow: hidden;
    }
}
