// Colors
$primary: #0D009D;
$primary-mid-darker: #011B60;
$primary-darker: #001447;
$primary-lighter: #012A94;
$primary-mid-clearer: rgba($primary, 40%);
$danger: #E84040;

$purple: #645CC1;
$purple-mid: #3d33b1;

$grey: #F1F1F1;
$grey-clear: #bebebe;

$thirdary-color: #E84040;

$secondary: white;
$secondary-mid-clear: rgba(255, 255, 255, 0.5);

// Font weight
$font-light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Font size
$font-small: 14px;
$font-normal: 16px;
$font-large: 18px;
$font-extra-large: 20px;

$font-title-h1: 55px;
$font-title-h1-md: 22px;
$font-title-h1-lg: 35px;

$font-title-h2: 13px;
$font-title-h2-md: 18px;
$font-title-h2-lg: 30px;

// Url paths
$icon-path: '../../images/icons/';

// Containers x padding
$container-padding-x: 25px;