// Colors
$primary: #0D009D;
$primary-mid-darker: #011B60;
$primary-darker: #001447;

$secondary: white;
$secondary-mid-clear: rgba(255, 255, 255, 0.5);

// Font weight
$regular: 400;
$medium: 500;
$bold: 700;

// Font size
$font-small: 14px;
$font-normal: 16px;
$font-large: 18px;
$font-extra-large: 20px;

// Url paths
$icon-path: '../../images/icons/';

// Containers break points
$container-max-widths: (
       sm: 364px,
       md: 720px,
       lg: 960px,
       xl: 1140px,
       xxl: 1230px
);