$primary: #0D009D;
$primary-mid-darker: #011B60;
$primary-darker: #001447;

$regular: 400;
$medium: 500;
$bold: 700;

$container-max-widths: (
        sm: 364px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1230px
);