.candidate {
    &__header {
        position: relative;
        margin-bottom: 30px;

        img {
            border-radius: 8px;
            position: relative;
            @include media-breakpoint-up(md) {
                width: 100%;
                border-radius: 15px;
            }
            filter: brightness(60%);
        }
        &-source {
            content: "";
            position: absolute;
            color: white;
            font-size: $font-very-small;
            right: 9px;
            bottom: 9px;
            width: 15%;
            text-align: right;
            @include media-breakpoint-down(xl) {
                width: 100%;
            }
            @include media-breakpoint-down(sm) {
                font-size: $font-very-very-small;
            }
        }

        &-info {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 30px;
            color: $secondary;

            &-party {
                font-size: 22px;
                font-style: normal;
                font-weight: $bold;
                line-height: 22px;
                letter-spacing: 0.02em;
                margin-bottom: 10px;
            }

            &-name {
                font-size: 13px;
                font-style: normal;
                font-weight: $bold;
                line-height: 20px;
                letter-spacing: 0.02em;
                margin-bottom: 25px;
            }
        }
    }
}

// Star measures tab
// Wrapper
.star-measure {
    border-radius: 8px;
    background-color: $primary;
    color: $secondary;
    // Bootstrap reset
    .nav-tabs {
        border-bottom: 0;
    }

    .nav-tabs .nav-link.active,
    .nav-tabs .nav-item.show .nav-link {
        background-color: inherit;
        border: 0;
        border-bottom: 2px solid $secondary !important;
    }

    #starMeasuresTab {
        // Align icons
        display: flex;
        justify-content: center;

        a {
            color: $white;
            text-decoration: underline;
        }

        .nav-item {
            // Some space around
            width: 27.5%;
            // Link
            .nav-link {
                border: 0;
                border-bottom: 2px solid rgba($secondary, 10%);
                margin: 0;
                width: 100%;
                // Icon
                i {
                    margin: 30px auto 20px;
                    height: 35px;
                    min-width: 35px;
                    transition: 0.2s all ease;
                }

                // Animation of hover
                &:hover,
                &:focus,
                &:active {
                    border-right: 0;
                    border-left: 0;
                    .title {
                        color: $secondary;
                    }
                }

                &:not(.active, :hover, &:focus, &:active) i {
                    filter: brightness(0) saturate(100%) invert(43%) sepia(68%)
                        saturate(439%) hue-rotate(205deg) brightness(88%)
                        contrast(94%);
                }
            }
        }
    }

    // Star measure title
    h2 {
        font-size: 18px;
        font-weight: $bold;
        line-height: 22px;
        letter-spacing: 0.02em;
        text-align: center;
        padding: 25px 20px 20px;
    }

    // Star measure description
    .measure-description {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0;
        text-align: center;
        padding: 0 30px 30px;
        margin-bottom: 60px;
        font-weight: $medium;
        a {
            @include link($secondary, $danger);
            text-decoration: underline;
            font-weight: $bold;
        }
    }
}

// Program
.program {
    margin-bottom: 120px;
    &__title {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
    }

    // Download program CTA
    .dl-program-cta {
        margin-top: 50px;

        .btn {
            width: auto;
            font-size: 14px;
            @include media-breakpoint-up(sm) {
                font-size: 18px;
            }
            font-weight: $bold;
            line-height: 22px;
            letter-spacing: 0.02em;
            padding: 20px 55px;
            display: flex;

            &::after {
                content: url($icon-path + "/download.svg");
                display: inline-block;
                margin-left: 10px;
            }
        }
    }
}

.party-history {
    margin-bottom: 120px;
    font-size: 15px;
    font-weight: $medium;
    line-height: 20px;
    letter-spacing: 0;

    &__title {
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: $primary;
        white-space: nowrap;
        margin-bottom: 35px;

        &-name {
            color: $danger;
            white-space: break-spaces;
        }
    }

    &__description {
        margin-bottom: 30px;
    }

    &__localisation {
        margin-bottom: 10px;
    }
}

// Desktop
@include media-breakpoint-up(xl) {
    .candidate {
        &__header {
            &-info {
                bottom: 110px;
                // offset-xl-2
                left: 16.66666667%;
                right: 16.66666667%;

                &-party {
                    font-size: 55px;
                    line-height: 70px;
                    margin-bottom: 15px;
                }

                &-name {
                    font-size: 30px;
                    line-height: 31px;
                    margin-bottom: 40px;
                }
            }
        }
    }
    .star-measure {
        margin-top: -140px;
        position: relative;

        .measure-description {
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            margin-top: 30px;
            div {
                margin-bottom: 1rem;
            }
        }

        #starMeasuresTab .nav-item {
            width: 30%;

            .nav-link {
                i,
                .title {
                    margin: 40px 5px 25px;
                }

                .title {
                    font-size: 18px;
                    font-weight: $bold;
                    line-height: 22px;
                    letter-spacing: 0.02em;
                    color: #6e66c4;
                    &:focus,
                    &:active,
                    &:hover {
                        color: $white;
                    }
                }

                &.active .title {
                    color: $secondary;
                }
            }
        }
    }
    .program {
        &__title {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.02em;
            padding-left: 30px;

            &::before {
                width: 25px;
                height: 25px;
            }
        }

        &__actions li {
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0;
        }

        .dl-program-cta {
            margin-top: 60px;
        }
    }
    .party-history {
        font-size: 18px;
        line-height: 25px;

        &__title {
            font-size: 20px;
            line-height: 30px;
        }
    }
}
