// The header : the logo + the desktop menu
header {
    padding: 30px 0;

    #dropdownMenuLink {
        min-width: 175px;
    }

    .menu-primary-selection {
        color: $primary;
    }

    .header-desktop-logo {
        width: 110px;
        height: 30px;
    }

    ul {
        width: 80%;
        margin-bottom: 0;
        padding-bottom: 0;

        li {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                padding-right: 20px;
            }

            &:last-child {
                margin-left: auto;
            }

            a {
                @include link($primary-mid-clearer, $primary);

                &:not(.dropdown-toggle) {
                    @include border-bottom-animation($primary);
                }

                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                text-align: center;
                text-decoration: none;

                &:active, &:focus, &:hover, &.active {
                    text-shadow: .25px 0 .1px,
                    -.25px 0px .1px;
                    color: $primary;
                }
            }

            .dropdown-toggle img {
                height: 20px;
                width: 20px;
                @include filter-primary();
            }
        }
    }

    .nav-social-icon {
        margin-left: auto;

        a {
            width: 20px;
            height: 20px;

            &:first-child {
                margin-left: 30px;
            }

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}