.switcher-home-wrapper{
  margin: 30px 0 45px;
  &__icon {
    margin: 0 10px;
    cursor: pointer;
  }
}

.choice-tab-wrapper {
  .candidates-grid-wrapper, .candidates-roll-wrapper {
    opacity: 0;
    display: none;
  }
  .bg-image {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      filter: brightness(60%);
      background-image: inherit;
      background-size: cover;
    }
  }
  .candidates-grid-wrapper__item .card {
    @include zoom-effect();
    cursor: pointer;
    .card-title {
      z-index: 800;
    }
    .card-subtitle {
      z-index: 800;
    }
  }
}

.choice-tab-wrapper .switcher-appearance {
  display: flex;
  animation: appearance 0.5s ease 1 normal forwards;
}

@keyframes appearance {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
    display: flex;
  }
}