#candidates-roll-wrapper {
    color: $secondary;
    .rolling-base {
        padding-top: 10px;
        &::-webkit-scrollbar {
            display: none; // Chrome
        }
        scrollbar-width: none; // Firefox
    }

    .circle-roll {
        margin-bottom: 60px;
        position: relative;
        @include media-breakpoint-up(xl) {
            margin-top: -160px;
            z-index: 2000;
        }
        .quarter-circle-bottom-left {
            width: 150px;
            height: 150px;
            @include media-breakpoint-up(md) {
                width: 180px;
                height: 180px;
            }
            background: #e1e9ff;
            border-radius: 180px 0 0 0;
        }
        .quarter-circle-bottom-right {
            width: 150px;
            height: 150px;
            @include media-breakpoint-up(md) {
                width: 180px;
                height: 180px;
            }
            background: #b6caff;
            border-radius: 0 180px 0 0;
        }
        button {
            position: absolute;
            width: 60px;
            height: 60px;
            border-radius: 60px;
            padding: 0;
            transition: all 0.4s ease;
        }
        #letsroll {
            &.rotate {
                transform: rotate(720deg);
            }
            top: -30px;
            left: calc(50% - 30px);
        }
        #roll-left {
            left: 10%;
            @include media-breakpoint-up(md) {
                top: 15px;
            }
        }
        #roll-right {
            right: 10%;
            @include media-breakpoint-up(md) {
                top: 15px;
            }
        }
    }
}

.candidate-roll-wrapper {
    margin-bottom: 60px;
    height: 500px;
    // background-image is defined dynamically with twig as inline style
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding-left: 25px;
    position: relative;
    @include zoom-effect();
    @include media-breakpoint-up(xl) {
        padding-right: 50%;
    }

    &__link-zone {
        position: absolute;
        inset: 0;
        z-index: 100;
    }

    &__party-name {
        font-size: 30px;
        font-weight: $bold;
        line-height: 30px;
        letter-spacing: 0.02em;
        @include media-breakpoint-up(xl) {
            font-size: 55px;
            line-height: 60px;
        }
    }

    &__candidate-name {
        font-size: 15px;
        font-weight: $bold;
        line-height: 15px;
        letter-spacing: 0.02em;
        margin-bottom: 45px;
        @include media-breakpoint-up(xl) {
            font-size: 25px;
            line-height: 26px;
        }
    }

    &__biography {
        font-size: 15px;
        font-weight: $regular;
        line-height: 20px;
        letter-spacing: 0;
        text-align: left;
        margin-bottom: 30px;
    }

    &__link {
        margin-bottom: 30px;

        font-size: 12px;
        font-weight: $bold;
        line-height: 12px;
        letter-spacing: 0.05em;

        @include arrow-link();
        @include media-breakpoint-up(xl) {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 60px;
        }

        &,
        &:hover,
        &:active,
        &:focus {
            color: $secondary;
        }
    }
}
