
.responsive-menu-wrapper {
    &__icon img {
        cursor: pointer;
    }

    &__menu {
        opacity: 0;
        position: fixed;
        // min-height: calc(100vh - 80px);
        overflow-y: scroll;
        top: 80px;
        bottom: 0;
        z-index: 950;
        width: 0;
        transition: all .8s ease;
        right: -100px;
        ul {
            margin: 90px 0;
            li {
                text-align: center;
                &:not(:first-child) {
                    margin-top: 30px;
                }
                a {
                    color: $primary;
                    font-weight: $bold;
                    font-size: 22px;
                    line-height: 40px;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
        .dropdown-menu {
            background-color: $primary-mid-darker;
            a {
                @include link($secondary-mid-clear, $primary)
            }
        }
        &-supportus {
            background-color: $primary-mid-darker;
            font-weight: $bold;
            font-size: 20px;
            line-height: 30px;
            color: $secondary;
            padding: 50px 0;
            a {
                @include link($secondary, $secondary-mid-clear);
                text-decoration: underline;
            }
            &-socialmedia {
                margin-bottom: 30px;
                span {
                    margin: 0 7.5px;
                }
            }
        }
    }

    &__background {
        position: fixed;
        width: 15px;
        height: 15px;
        top: 30px;
        right: 30px;
        background-color: $secondary;
        z-index: -1;
        border-radius: 25px;
        transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1);
    }
}

.responsive-menu-checkbox {
    display: none;
    &:checked {
        & ~ .logo-wrapper img,
        & ~ .back-wrapper img,
        & ~ .responsive-menu-wrapper img {
            position: relative;
            z-index: 200;
            filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(0%) hue-rotate(115deg) brightness(108%) contrast(108%);
        }
        & ~ .responsive-menu-wrapper {
            & .responsive-menu-wrapper {
                &__background {
                    background-color: $primary-lighter;
                    transform: scale(150);
                }
                &__menu {
                    opacity: 1;
                    width: 100%;
                    right: 0;
                    ul li > a, .dropdown-toggle {
                        @include link($secondary-mid-clear, $secondary);
                    }
                }
            }
        }
    }
}
