.primary-index {
    &__wrapper {
        position: relative;
        margin-bottom: 50px;
        border-radius: 15px;
        max-height: 550px;
        max-width: 600px;

        @include zoom-effect();

        &-link-zone {
            position: absolute;
            inset: 0;
            z-index: 100;
        }
    }

    // Image of party
    &__image {
        max-height: 550px;
        position: relative;
        // Make it square
        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        img {
            border-radius: 15px;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // Title and link
    &__content {
        position: absolute;
        top: 0;
	    left: 0;
	    right: 0;
	    bottom: 20px;
        color: $secondary;

        &-wrapper {
            margin-top: 70%;
	        @include media-breakpoint-up(sm) {
		        margin-top: 75%;
	        }
            margin-left: 25px;
        }

        &-title {
            font-size: 22px;
            line-height: 25px;
            font-weight: $bold;
            letter-spacing: 0.02em;
            margin-bottom: 20px;
            @include media-breakpoint-up(lg) {
                font-size: 30px;
                line-height: 40px;
            }
        }

        &-link {
            font-size: 12px;
            font-weight: $bold;
            line-height: 12px;
            letter-spacing: 0.05em;

            @include arrow-link();

            &, &:hover, &:active, &:focus {
                color: $secondary;
            }
        }
    }
}
