.comparator-wrapper {
  margin-bottom: 120px;

  &__header-reveal {
    display: none;
    margin-top: 45px;

    &-title {
      font-size: $font-extra-large;
      font-weight: $bold;
      color: $primary;
      margin-bottom: 30px;
      display: flex;
      position: relative;
      width: 100%;

      &::after {
        content: '';
        display: inline-block;
        width: 78%;
        border-bottom: 2px solid rgba($primary, 40%);
        margin-bottom: 5px;
        margin-left: 15px;
      }
    }
  }

  &-grid {
    &__compare-two-programs-cta .btn {
      width: auto;
      font-size: $font-large;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0.02em;
      padding: 20px 55px;
      display: flex;
    }

    .candidates-grid-wrapper {
      padding-bottom: 30px;

      &__item {
        position: relative;

        .card {
          z-index: 10;
          border-radius: 5px;
        }

        &.comparator-card .card {
          height: 180px;
        }
      }
    }

    .grey-filter {
      filter: grayscale(60%);
      transition: all 0.2s ease;

      &:hover {
        filter: grayscale(0%);
      }
    }


    .tick-selection-candidate {
      position: absolute;
      background-color: $primary;
      height: 25px;
      width: 25px;
      top: 20px;
      right: 30px;
      z-index: 20;
      border: solid 1px $secondary;
      border-radius: 50%;
      color: $secondary;
      text-align: center;
      font-weight: $bold;
      font-size: $font-small;
      line-height: 25px;
    }
  }

  .drag-nav-slider-wrapper__list-item button::after {
    bottom: -4px;
    left: -14px;
  }

  &-measures__theme {
    &-candidate-name {
      font-weight: $bold;
      font-size: $font-extra-large;
      color: $primary;
    }
    &-candidate-party {
      display: flex;
      position: relative;
      font-weight: $bold;
      font-size: $font-large;
      color: $thirdary-color;
      margin-bottom: 30px;
      &::after {
        content: "";
        display: inline-block;
        flex: 1;
        border-bottom: 2px solid rgba($primary, 40%);
        margin-bottom: 5px;
        margin-left: 15px;
      }

    }
  }


  @include media-breakpoint-down(md) {
    &-content {
      &__compare-two-programs-cta .btn {
        padding: 20px 20px;
      }
    }
    &-grid .candidates-grid-wrapper__item.comparator-card .card {
      height: 80px;
    }

    &__header-reveal {
      margin-top: 0px;
    }
  }
}