.contact {
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	color: #010519;

	img {
		margin-top: 100px;
		margin-bottom: 45px;
	}
	h1 {
		font-weight: $bold;
		font-size: 55px;
		line-height: 70px;
		margin-bottom: 30px;
		color: $primary;
		@include media-breakpoint-down(lg) {
			font-size: 32px;
			line-height: 45px;
		}
	}
	&__text {
		margin-bottom: 45px;
	}
	&__cta {
		padding: 20px 45px;
		font-weight: $bold;
		line-height: 22px;
		margin-bottom: 150px;
	}
	&__dynamic-word {
		color: $danger;
	}
}
