<ul>
    <li><a href="#">Les programmes</a></li>
    <li><a href="#">Pourquoi voter ?</a></li>
    <li><a href="#">Comparateur</a></li>
    <li><a href="#">Glossaire</a></li>
    <li><a href="#">Nous contacter</a></li>
    <li>
        <div class="dropdown">
            <a class="dropdown-toggle d-flex justify-content-center align-items-center" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/images/logos/logo_alt_white.svg" alt="Logo la voix du vote">
                Changer la sélection
            </a>
            <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Présidentielles 2022</a>
                <a class="dropdown-item" href="#">Primaires PS</a>
                <a class="dropdown-item" href="#">Primaires LR</a>
            </div>
        </div>
    </li>
</ul>