<ul>
    <li><a href="#">Les programmes</a></li>
    <li><a href="#">Pourquoi voter ?</a></li>
    <li><a href="#">Comparateur</a></li>
    <li><a href="#">Glossaire</a></li>
    <li><a href="#">Nous contacter</a></li>
    <li>
        <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Changer la sélection
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Présidentielles 2022</a>
                <a class="dropdown-item" href="#">Primaires PS</a>
                <a class="dropdown-item" href="#">Primaires LR</a>
            </div>
        </div>
    </li>
</ul>