<input id="cta-button" class="cta__button" type="checkbox">
<div class="cta">
	<div class="cta__menu">
		<label for="cta-button"><img src="{{ asset('images/pictos/add.svg') }}" alt="Ouvrir le menu"></label>
		<div class="cta__menu-collapse"><a href="#"><img src="{{ asset('images/pictos/signal.svg') }}" alt="Signaler un problème"></a></div>
		<div class="cta__menu-collapse"><a href=""><img src="{{ asset('images/pictos/download.svg') }}" alt="Télécharger le programme"></a></div>
		<label for="cta-button" class="cta__menu-collapse"><img src="{{ asset('images/pictos/quit.svg') }}" alt="Fermer le menu"></label>
	</div>
</div>
