@font-face {
    font-family: 'objectivity';
    src: url('../../fonts/objectivity/objectivity-regularslanted-webfont.eot');
    src: url('../../fonts/objectivity/objectivity-regularslanted-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/objectivity/objectivity-regularslanted-webfont.woff2') format('woff2'),
    url('../../fonts/objectivity/objectivity-regularslanted-webfont.ttf') format('truetype'),
    url('../../fonts/objectivity/objectivity-regularslanted-webfont.svg#objectivityitalic') format('svg');
    font-weight: $regular;
    font-style: italic;
}

@font-face {
    font-family: 'objectivity';
    src: url('../../fonts/objectivity/objectivity-regular-webfont.eot');
    src: url('../../fonts/objectivity/objectivity-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/objectivity/objectivity-regular-webfont.woff2') format('woff2'),
    url('../../fonts/objectivity/objectivity-regular-webfont.ttf') format('truetype'),
    url('../../fonts/objectivity/objectivity-regular-webfont.svg#objectivityregular') format('svg');
    font-weight: $regular;
    font-style: normal;
}

@font-face {
    font-family: 'objectivity';
    src: url('../../fonts/objectivity/objectivity-medium-webfont.eot');
    src: url('../../fonts/objectivity/objectivity-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/objectivity/objectivity-medium-webfont.woff2') format('woff2'),
    url('../../fonts/objectivity/objectivity-medium-webfont.ttf') format('truetype'),
    url('../../fonts/objectivity/objectivity-medium-webfont.svg#objectivitymedium') format('svg');
    font-weight: $medium;
    font-style: normal;
}

@font-face {
    font-family: 'objectivity';
    src: url('../../fonts/objectivity/objectivity-mediumslanted-webfont.eot');
    src: url('../../fonts/objectivity/objectivity-mediumslanted-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/objectivity/objectivity-mediumslanted-webfont.woff2') format('woff2'),
    url('../../fonts/objectivity/objectivity-mediumslanted-webfont.ttf') format('truetype'),
    url('../../fonts/objectivity/objectivity-mediumslanted-webfont.svg#objectivitymedium') format('svg');
    font-weight: $medium;
    font-style: italic;
}

@font-face {
    font-family: 'objectivity';
    src: url('../../fonts/objectivity/objectivity-bold-webfont.eot');
    src: url('../../fonts/objectivity/objectivity-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/objectivity/objectivity-bold-webfont.woff2') format('woff2'),
    url('../../fonts/objectivity/objectivity-bold-webfont.ttf') format('truetype'),
    url('../../fonts/objectivity/objectivity-bold-webfont.svg#objectivitybold') format('svg');
    font-weight: $bold;
    font-style: normal;
}

@font-face {
    font-family: 'objectivity';
    src: url('../../fonts/objectivity/objectivity-boldslanted-webfont.eot');
    src: url('../../fonts/objectivity/objectivity-boldslanted-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/objectivity/objectivity-boldslanted-webfont.woff2') format('woff2'),
    url('../../fonts/objectivity/objectivity-boldslanted-webfont.ttf') format('truetype'),
    url('../../fonts/objectivity/objectivity-boldslanted-webfont.svg#objectivitybold') format('svg');
    font-weight: $bold;
    font-style: italic;
}