{% extends 'page.html.twig' %}

{% block main %}
    <div class="glossary-wrapper row col-8 m-auto">
        <header class="glossary-wrapper__header">
            <h1 class="glossary-wrapper__header-title text-center">Glossaire</h1>
            <hr class="w-100 glossary-wrapper__header-delimiter" size="0">
        </header>

        <nav class="glossary-wrapper__nav">
            <ul class="glossary-wrapper__nav-list row flex-row" id="starMeasuresTab" role="tablist">
                <li class="glossary-wrapper__nav-list-item">
                    <button class="active d-md-flex align-items-md-center justify-content-md-center">
                        Tout
                    </button>
                </li>

                {% for glossaryCategorie in glossaryCategories %}
                    <li class="glossary-wrapper__nav-list-item">
                        <button class="d-md-flex align-items-md-center justify-content-md-center">
                            {{ glossaryCategorie.label }}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </nav>

        <section class="glossary-wrapper__definitions">
            <ul>
                {% for definition in definitions %}
                    <li data-category="{{ definition.category }}">
                        {{ definition.word }}
                        {{ definition.definition|raw }}
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>

    <script>
        const buttons = document.querySelectorAll('.glossary-wrapper__nav-list-item button');

        [...buttons].forEach(currentButton => {
            currentButton.addEventListener('click', e => {
                [...buttons].forEach(button => {
                    button.classList.remove('active')
                })
                currentButton.classList.add('active')
            });
        })

    </script>

{% endblock %}